.main_page{
    height: 100vh;
    width: 80vw;
}
.main_page_inner{
    width: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_page_inner_content{
    width: 80%;
}
.chat_actions{
    width: 100%;
    margin-bottom: 2rem;
}
.chat_action{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    box-shadow: 0 0 5px #acc2cb;
    border-radius: 1rem;
    opacity: .5;
}
.chat_action_inp{
    height: 3rem;
    width: 90%;
    padding: 0 .5rem;
    font-size: 16px;
    border-right: 0px;
    outline: none;
    border: none;
    border-radius: 1rem 0 0 1rem;
}
.chat_action_btn{
    height: 3rem;
    width: 10%;
    color: #00123c;
    cursor: pointer;
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-radius: 0 1rem 1rem 0;
}
.chats{
    width: 100%;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
}
.chat{
    position: relative;
    height: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    overflow: hidden;
    box-shadow: 0 0 3px #acc2cb;
    transition: .5s;
    border-radius: 1rem;
    background-color: #fff;
}
.chat::before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 10px;
    width: 10px;
}
.chat_name{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1a2338;
    padding-left: 2rem;
    transition: .5s cubic-bezier(0, 0.3, 0.55, 1);
}
.chat_name:hover{
    overflow: hidden;
    font-weight: bold;
    padding-left: 4rem;
}
.delete_room_btn{
    width: 10%;
    font-size: 16px;
    color: #00123c;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
    transition: .3s;
}
.delete_room_btn:hover{
    font-size: 24px;
}