{% extends 'register/index.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'register/css/auth_page.css' %}">
{% endblock %}

{% block content %}
    <div class="auth_page">
        <div class="auth_page_inner">
            <div class="title">
                Sing In
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type='submit' class="auth_btn">Sign in</button>
            </form>
            <div class="account">
                Dont have account? <a href="{% url 'register_page' %}">Sign up</a>
            </div>
        </div>
    </div>
{% endblock  %}