.contacts_page{
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts_page_inner_content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.contacts_page_option{
    cursor: pointer;
    margin: 2rem;
    display: inline-block;
}
.contacts_page_option > a{
    text-decoration: none;
    color: black;
}
.contacts_page_content{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3rem 0;
}
.users_list{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.user{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 3rem;
    margin-bottom: 1rem;
    background-color: #fff;
    font-size: 24px;
    box-shadow: 0 0 3px #acc2cb;
    border-radius: 1rem;
    overflow: hidden;
    transition: .2s;
}
.user::before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 10px;
    width: 10px;
}
.user_name{
    cursor: default;
    display: flex;
    align-items: center;

    width: 90%;
    height: 100%;
    padding-left: 2rem;
}
.user_action{
    cursor: pointer;
    width: 10%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    background: none;
    border: none;
    transition: .5s;
}
.user_action > a{
    line-height: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: .3s;
}
.user_action > a:hover{
    font-size: 24px;
}
.user_action > a > img{
    height: 18px;
    transition: .3s;
}
.user_action > a:hover > img{
    height: 28px;
}