{% extends 'index.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
{% endblock  %}

{% block content %}
    <div class="chat">
        <div class="chat_inner">
            <div class="chat_header">
                <a class="back" href="javascript:history.back();"><</a>
                <div class="title">
                    {% if friend != None %}
                        {{friend}}
                    {% else %}
                        {{chat_name}}
                    {% endif %}
                </div>
            </div>
            <div id="chat_messages" class="chat_messages">
            </div>
            <div class="send_message">
                <input 
                    class="send_message_inp" 
                    id="message" 
                    placeholder="Message" 
                    type="text"
                >
                <button 
                    class="send_message_btn" 
                    id="send_message_btn"
                >
                    >
                </button>
            </div>

        </div>
    </div>
    {{chat_name|json_script:"chat_name"}}
    {{user|json_script:"user"}}
    {{user_name|json_script:"user_name"}}
    {{chat_type|json_script:"chat_type"}}

    <script>
        const chat_name = JSON.parse(
            document.getElementById('chat_name').textContent
        )
        const user = JSON.parse(
            document.getElementById('user').textContent
        )
        const username = JSON.parse(
            document.getElementById('user_name').textContent
        )
        const chat_type = JSON.parse(
            document.getElementById('chat_type').textContent
        )

        var chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + chat_type
            + '/'
            + chat_name
            + '/'
        );

        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data)
            if(data['command'] == 'delete_message'){
                let messageElToDelete = document.getElementById(`${data.deleted_messaeg_id}`)
                messageElToDelete.remove()
            }  
            else{
                createMessage(data)
            }
        }

        function createMessage(data){
            messages = data['messages']
            if(data['command'] == 'get_last_messages'){
                for(i=0; i<messages.length; i++){
                    createMessageEl(
                    message=messages[i].text, 
                    userName=messages[i].sender_id, 
                    message_id=messages[i].id
                    )
                }
            }else{
                createMessageEl(
                    message=data.message, 
                    userName=data.user, 
                    message_id=data.message_id
                    )
            }
            var chat = document.getElementById("chat_messages");
            chat.scrollTop = chat.scrollHeight
        }

        //отправка сообщения
        document.querySelector('#message').focus()
        document.querySelector('#message').onkeyup = function(e){
            if(e.keyCode === 13){
                document.querySelector("#send_message_btn").click()
            }
        }
        
        document.querySelector('#send_message_btn').onclick = function(e){
            const data = document.querySelector('#message')
            const message = data.value
            if(message !== ''){
                chatSocket.send(JSON.stringify({
                    'command': 'create_message',
                    'message': message,
                    'user': user
                }))
            }
            data.value = ''
            document.querySelector('#message').focus()
        }

        //создание блока сообщения
        function createMessageEl(message, userName, message_id){
            let messageElement = document.createElement('div')
            let messageElementInner = document.createElement('div')
            let participant = document.createElement('div')
            let message_text = document.createElement('div')
            let deleteMessage = document.createElement('button')

            messageElement.className = 
                userName == username ? 'owner_message' : 'participant_message'
            messageElementInner.className = 
                userName == username ? 'owner_message_inner' : 'participant_message_inner'
            messageElement.id = message_id 
            messageElement.name = 'message' 
            participant.innerHTML = userName == username ? 'You' : userName
            participant.className = 'message_user' 
            message_text.innerHTML = message
            message_text.className = 'message_text' 
            deleteMessage.innerHTML = 'x'
            deleteMessage.className = 'delete_message'
            deleteMessage.id = message_id
            deleteMessage.addEventListener('click', messageToDelete)

            document.querySelector('#chat_messages').append(messageElement)
            document.getElementById(message_id).prepend(messageElementInner)
            chield = document.getElementById(message_id).firstChild
            chield.prepend(message_text)
            chield.prepend(participant)
            if(userName == username){
                chield.prepend(deleteMessage)
            }
        }

        //удаление сообщения
        function messageToDelete(e){
            messageToDelete = e.target
            chatSocket.send(JSON.stringify({
                'command': 'delete_message',
                'message_id': messageToDelete.id,
                'chat_type': chat_type
            }))
        }
    </script>
{% endblock  %}