{% extends 'index.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
{% endblock  %}

{% block content %}
    <div class="chat">
        <div class="chat_inner">
            <div class="chat_header">
                <a class="back" href="javascript:history.back();"><</a>
                <div class="title">
                    {{chat_name}}
                </div>
            </div>
            <div id="chat_messages" class="chat_messages">
            </div>
            <div class="send_message">
                <input 
                    class="send_message_inp" 
                    id="message" 
                    placeholder="Message" 
                    type="text"
                >
                <button 
                    class="send_message_btn" 
                    id="send_message_btn"
                >
                    >
                </button>
            </div>

        </div>
    </div>
    {{chat_name|json_script:"chat_name"}}
    {{user|json_script:"user"}}
    {{user_name|json_script:"user_name"}}
    {{chat_type|json_script:"chat_type"}}

    <script>
        const chat_name = JSON.parse(
            document.getElementById('chat_name').textContent
        )
        const user = JSON.parse(
            document.getElementById('user').textContent
        )
        const username = JSON.parse(
            document.getElementById('user_name').textContent
        )
        const chat_type = JSON.parse(
            document.getElementById('chat_type').textContent
        )

        var chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + chat_type
            + '/'
            + chat_name
            + '/'
        );

        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data)
            messages = data['messages']
            if(data['command'] == 'get_last_messages'){
                for(i=0; i<messages.length; i++){
                    createMessageEl(
                    message=messages[i].text, 
                    userName=messages[i].sender_id, 
                    message_id=messages[i].id
                    )
                }
            }else{
                createMessageEl(
                    message=data.message, 
                    userName=data.user, 
                    message_id=data.message_id
                    )
            }
            var chat = document.getElementById("chat_messages");
            chat.scrollTop = chat.scrollHeight
        }

        //отправка сообщений
        document.querySelector('#message').focus()
        document.querySelector('#message').onkeyup = function(e){
            if(e.keyCode === 13){
                document.querySelector("#send_message_btn").click()
            }
        }
        
        document.querySelector('#send_message_btn').onclick = function(e){
            const data = document.querySelector('#message')
            const message = data.value
            if(message !== ''){
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'user': user
                }))
            }
            data.value = ''
            document.querySelector('#message').focus()
        }

        //создание блока сообщения
        function createMessageEl(message, userName, message_id){
            let messageElement = document.createElement('div')
            let messageElementInner = document.createElement('div')
            let participant = document.createElement('div')
            let message_text = document.createElement('div')

            if(userName == username){
                messageElement.className = 'owner_message' 
            }else{
                messageElement.className = 'participant_message' 
            }
            if(userName == username){
                messageElementInner.className = 'owner_message_inner'
            }else{
                messageElementInner.className = 'participant_message_inner'
            }
            messageElement.id = message_id 
            if(userName == username){
                participant.innerHTML='You'
            }else{
                participant.innerHTML= userName
            }
            participant.className = 'message_user' 
            message_text.innerHTML=message
            message_text.className = 'message_text' 

            document.querySelector('#chat_messages').append(messageElement)
            document.getElementById(message_id).prepend(messageElementInner)
            chield = document.getElementById(message_id).firstChild
            chield.prepend(message_text)
            chield.prepend(participant)
            
        }
    </script>
{% endblock  %}