.auth_page{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.auth_page_inner{
    padding: 1rem;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 3px #acc2cb;
    border-radius: 1rem;
}
.auth_page_inner > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.auth_page_inner > form > p{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}
.title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 1.5rem;
}
.auth_input{
    height: 2rem;
    padding: 0 .5rem;
    font-size: 16px;
    border: none;
    background-color: #e6eaf3;
    border-radius: .7rem;
    outline: none;
}
.auth_input:-webkit-autofill {
    transition: all 5000s ease-in-out;
}
.auth_btn{
    width: 6rem;
    margin: 2rem 0 .5rem 0;
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 16px;
    color: #00123c;
    background-color: #e6eaf3;
    border: none;
    border-radius: .7rem;
}
.account > a{
    color: #00123c
}