{% load static %}

<div class="sidebar">
    <div class="sidebar_user">
        <div class="username">
            {{user_name}}
        </div>
        <div>
            <a href="{% url 'logout' %}">
                <img class="logout" src="{% static 'chat/img/logout.svg' %}" alt="">
            </a>
        </div>
    </div>
    <div class="actions">
        <div class="sidebar_action">
            <a href="{% url 'chats_list' %}">
                Public chats
            </a>
        </div>
        <div class="sidebar_action">
            <a href="{% url 'contacts' %}">
                Contacts & Chats
            </a>
        </div>
        <div class="sidebar_action">
            <a href="{% url 'all_users' %}">
                Peoples
            </a>
        </div>
    </div>
</div>