.chat{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.chat_inner{
    font-size: 0;
    height: 100%;
    width: 60%;
}
.chat_header{
    display: grid;
    align-items: center;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.back{
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.title{
    text-align: center;
    color: black;
    margin: 1rem 0;
    padding-bottom: 7px;
    font-size: 30px;
}
.chat_messages{
    width: 100%;
    height: 65%;
    padding: .5rem;
    background-color: white;
    border: .5px solid#dce1e6;
    border-bottom: .5px solid#dce1e6;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 5px #e2e3e7;
    resize: none;
}
.send_message{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px#e2e3e7;
}
.send_message_inp{
    height: 4rem;
    width: 90%;
    padding: .5rem;
    font-size: 14px;
    background-color: white;
    border: none;
    border-bottom: .5px solid#dce1e6;
    border-left: .5px solid#dce1e6;
    border-radius: 0 0 0 5px;
    outline: none;
    resize: none;
}
.send_message_btn{
    height: 4rem;
    width: 10%;

    color: black;
    font-size: 28px;
    border: none;
    border-right: .5px solid#dce1e6;
    border-bottom: .5px solid#dce1e6;
    background-color: white;
    border-radius: 0 0 5px 0;
}