@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    /* height: 15px; */
    box-sizing: border-box;
}
html{
    font-family: 'Inter Tight', sans-serif;
    background-color: #edeef0;
}