{% extends 'chat/index.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/chat/css/join_page.css' %}">
{% endblock %}

{% block content %}
    <div class="main_page">
        <div class="main_page_inner">
            <a class="join_btn" id="join_btn" href="{% url 'chats_list' %}">Join chat</a>
        </div>
    </div>
    
    <script>
        document.querySelector('#join_btn').onclick = function(){
            localStorage.joined = true
        }

        function redirect(){
            if(localStorage.getItem('joined')){
                window.location.replace(
                    'http://127.0.0.1:8000/auth/register/'
                    )
                }
            }

        window.onload = redirect
    </script>
{% endblock  %}