{% extends 'index.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'register/css/auth_page.css' %}">
{% endblock %}

{% block content %}
    <div class="auth_page">
        <div class="auth_page_inner">
            <div class="title">
                Sing Up
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type='submit' class="auth_btn">Sign up</button>
            </form>
            <div class="account">
                Have account? <a href="{% url 'login_page' %}">Sign in</a>
            </div>
        </div>
    </div>
{% endblock  %}