{% extends 'contacts/index.html' %}

{% block contacts %}
<div class="contacts_page_content">
    <ul class="users_list">
        <div class="title">Peoples</div>
        {% for user in users %}
            {% if user.username != user_name %}
                <li class="user">
                    <div class="user_name">
                        <a href="{% url 'add_contact' user.id %}">{{user.username}}</a>
                    </div>
                    <div class="user_action">
                        <a href="{% url 'add_contact' user.id %}">
                            +
                        </a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}