{% extends 'contacts/index.html' %}
{% load static %}

{% block contacts %}
<div class="contacts_page_content">
    <ul class="users_list">
        <div class="title">Contacts</div>
        {% for user in users_contact %}
            <li class="user">
                <div class="user_name">
                    <a href="{% url 'get_private_chat' user.user_id %}">{{user}}</a>
                </div>
                <div class="user_action">
                    <a href="{% url 'get_private_chat' user.user_id %}">
                        <img src="{% static 'contacts/img/chat.png' %}" alt="">
                    </a>
                </div>
                <div class="user_action">
                    <a href="{% url 'delete_contact' user.user_id %}">
                        x
                    </a>
                </div>
            </li>
        {% empty %}
            <div style="text-align: center;">
                You have no any contacts
                <a href="{% url 'all_users' %}">Add contacts</a>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}